node_modules
.next
.open-next
.wrangler
coverage
out
build
runs
train
valid
test
supabase/.temp
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.tsbuildinfo
yolo11n.pt
